@font-face {
  font-family: "PFDinDisplayPro";
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Bold.woff2") format("woff2"), url("../fonts/PFDinDisplayPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PFDinDisplayPro";
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Medium.woff2") format("woff2"), url("../fonts/PFDinDisplayPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PFDinDisplayPro";
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Regular.woff2") format("woff2"), url("../fonts/PFDinDisplayPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}