.page-header {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.breadcrumb li a {
  position: relative;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb li a::after {
  content: "\\";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 75%;
}

.breadcrumb li a span {
  font-weight: 400;
  font-size: 11px;
  color: #434242;
}

.breadcrumb li:first-child a {
  padding-left: 0;
}

.breadcrumb li:last-child a {
  padding-right: 0;
  pointer-events: none;
}

.breadcrumb li:last-child a span {
  color: var(--siniy) !important;
}

.breadcrumb li:last-child a::after {
  display: none;
}

@media (min-width: 992px) {
  .page-header {
    padding-top: 8rem;
  }

  .breadcrumb li a {
    padding: 0 1rem;
  }
}